<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Cine Emmanuel Julio!</title>
</head>

<body>
  <div id="Contenedor">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://127.0.0.1:5500/view/index.html">Borbocine</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">


          </div>
        </div>
      </nav>
    </header>

    <div class="grid">
      <div id="CuadroDeBusqueda" class="Busqueda">

        <form>
          <label class="text-light mb-3 text-center">Buscar pelicula por nombre</label>
          <input id="TituloABuscar" type="text" placeholder="Titulo de pelicula">
          <label class="text-light mb-3 text-center">Buscar por fecha de funcion</label>
          <input id="BuscadorPorFecha" type="date" placeholder="">
          <input id="Buscar" type="button" value="Buscar">

        </form>
      </div>
      <div id="ExividorDePeliculas">
        <div class="container text-center my-3">
          <h2 class="text-light">Nuestras peliculas</h2>
          <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
              <div id="ContendorCarrusel" class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-img">
                        <img src="/img/peliculas/1.jpg" class="img-fluid">
                      </div>
                      <div class="card-img-overlay">Slide 1</div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-img">
                        <img src="/img/peliculas/2.jpg" class="img-fluid">
                      </div>
                      <div class="card-img-overlay">Slide 2</div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-img">
                        <img src="/img/peliculas/3.jpg" class="img-fluid">
                      </div>
                      <div class="card-img-overlay">Slide 3</div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-img">
                        <img src="/img/peliculas/4.jpg" class="img-fluid">
                      </div>

                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-img">
                        <img src="/img/peliculas/5.jpg" class="img-fluid">
                      </div>

                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="col-md-3">
                    <div class="card">
                      <div class="card-img">
                        <img src="/img/peliculas/6.jpg" class="img-fluid">
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </a>
              <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- <div id="Detalles">
        
      </div> -->
    <div class="Texto-Encabesado">
      <h1 id="ExtoIndicativo">Funciones en el dia de hoy</h1>
    </div>
    <!-- Tarjetas -->

    <div id="tarjetas">

    </div>

    <!-- seccion  -->
    <footer class="mt-5">
      <section class="w-50 mx-auto tecxt-center" id="intro">
        <h1 class="p-3 fs-2 border-top border-3 text-center">Un cine al alcance de todos </h1>
        <p class="text-primary mb-7">Este es un cine donde solo con tu nombre puedes tener acceso a una pelicula! No te
          preocupes por los costos, !Nos encargamos nosotros!</p>
      </section>

    </footer>
  </div>

  <script>
    function GuardarIdFuntionLocalStorage(e) {
      localStorage.setItem("IdFuncion", e)
    }
  </script>
  <script src="/js/main.js" type="module"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</body>

</html>